<!DOCTYPE html>
<html>
<head>
    <title>Image Processing Web App</title>

    <style>
        #container {
            margin: 0px auto;
            width: 500px;
            height: 375px;
            border: 10px #333 solid;
        }
        #videoElement {
            width: 500px;
            height: 375px;
            background-color: #666;
        }
    </style>

</head>
<body>
    <h1>Image Processing Web App</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".png, .jpg, .jpeg, .gif">
        <input type="submit" value="Upload and Process">
    </form>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    {% if result %}
        <h2>Results:</h2>
        <ul>
            {% for r in result %}
                <li>{{ r }}</li>
            {% endfor %}
        </ul>
        <h3>Uploaded Image:</h3>
        
    {% endif %}
    {% if img_path %}
        <img src="/{{ img_path }}" alt="Uploaded Image">
    {% endif %}


    <div id="container">
        <video autoplay="true" id="videoElement">
        
        </video>
    </div>

<script>

    var video = document.querySelector("#videoElement");

    if (navigator.mediaDevices.getUserMedia) {
    navigator.mediaDevices.getUserMedia({ video: true })
        .then(function (stream) {
        video.srcObject = stream;
        })
        .catch(function (err0r) {
        console.log("Something went wrong!");
        });
    }
    

    
    function stop(e) {
        var stream = video.srcObject;
        var tracks = stream.getTracks();

        for (var i = 0; i < tracks.length; i++) {
            var track = tracks[i];
            track.stop();
        }

        video.srcObject = null;
    }

</script>

</body>
</html>
